h1{  
    color:palevioletred ;
    font-weight: bold;  
    font-size: 5em;
    text-align: center;
    padding: 100px; 
    background: linear-gradient(to right,  #00F260,#0575E6);
    font-family: 'Roboto', sans-serif;

}

h2{ 
    color:blue ;
    font-weight: bold;  
    font-size: 3em;
    text-align: left;
    padding: 80px; 
    
    font-family: 'Roboto', sans-serif;
}

nav a:hover{
    color: palevioletred;
}



table{
    border-collapse: collapse;
    color: white;
}
caption{
    color: black;
}

td, th{
border: 2px solid rgb(150, 186, 209); }

section div:first-child {
    display: flex;
    justify-content: center;
    align-items:center;
}

section div span {
    display: flex;
    justify-content: right;
    /* align-items:; */
    /* color: #00F260; */
        
}
section div .last {
    display: flex;
    justify-content: center;
    align-items:center;
    /* color: orangered; */


}
section div h2 .second{
    display: flex;
    justify-content: left;
    /* align-items:first baseline;  */
    
} 
table thead{
     background-color: blueviolet;
     color: aliceblue;
}

table tbody,tfoot td{
    background-color: #64a19c;
    
}
/* #64a19c */
 .unique a{
         text-decoration:none;
         
}
 section .second, span, .last, .unique{ 
     background-color: blueviolet;
}   
/* .unique, .second, span, .last,  a:hover 
    background-color: blueviolet;
}
 /* section{ 
    background-color: chocolate;

 }
 section {
    background-color: chocolate;
 }*/